* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr: #252722;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, var(--clr) 90%, var(--clr) 100%, rgba(0, 0, 0, 0) 100%),
        url('images/background.png') center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

.navigation {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr)
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #fbe54f;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -21px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -21.5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

/* Adjust the indicator position based on the active list item */

/* First list item */
.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
    /* Move the indicator to the first list item */
}


.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}


.iconSIZES {
    width: 35px;
    height: 35px;
    margin-top: 13px;
    margin-right: 2px;
    transform: rotate(45deg);
}

.iconCOLORS {
    width: 35px;
    height: 35px;
    margin-top: 15px;
    transform: rotate(45deg);
}

.iconPAY {
    width: 30px;
    height: 30px;
    margin-top: 18.5px;
}

.iconCOMPLETED {
    width: 30px;
    height: 30px;
    margin-top: 18.5px;
}

.wrapper {
    box-sizing: content-box;
    height: 43px;
    padding: 50px 30px;
    display: flex;
    position: fixed;
    top: -11px;
}

.words {
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 1.3em;
    outline: none;
    width: 100%;
    text-align: center;
}

.animatedrisks {
    display: block;
    height: 100%;
    animation: spin_words 12s infinite;
}

@keyframes spin_words {
    10% {
        transform: translateY(-112%);
    }

    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-212%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-312%);
    }

    75% {
        transform: translateY(-300%);
    }

    85% {
        transform: translateY(-412%);
    }

    100% {
        transform: translateY(-400%);
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.logo {
    max-width: 80%;
    max-height: 80vh;
    margin-bottom: 25px;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    color: #ffffff;
}

a {
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 21px;
    width: 100%;
    margin-top: 21px;
    margin-bottom: 115px;
}

.content {
    position: relative;
    width: 20%;
    margin: 0 40px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #f2f2f200;
    overflow: hidden;
    border-radius: 20px;
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-radius: 20px;
    animation: borderAnimation 3s infinite linear;
    pointer-events: none;
}

@keyframes borderAnimation {
    0% {
        border-color: #fc7e00;
    }

    25% {
        border-color: #a56a2b;
    }

    50% {
        border-color: #fc7e00;
    }

    75% {
        border-color: #a56a2b;
    }

    100% {
        border-color: #fc7e00;
    }
}

.content img {
    width: 184px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.content p {
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}

h6 {
    font-size: 26px;
    text-align: center;
    color: #f2a356;
    margin: 0;
    padding: 4px;
}

.content ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.content ul li {
    padding: 5px;
}

.fa {
    font-size: 26px;
    transition: .4s;

}

.checked {
    color: #f2a356;
}

.content button {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    width: 100%;
    padding: 16px;
    outline: none;
    cursor: pointer;
    margin-top: 14px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 0;
    border-color: white;
}

.buy-1 {
    background: #f2a356;
}

.buy-2 {
    background: #f2a356;
}

.buy-3 {
    background: #f2a356;
}

.buy-4 {
    background: #f2a356;
}

@media(max-width:1000px) {
    .content {
        width: 45%;
    }
}

@media(max-width:750px) {
    .content {
        width: 100%;
    }
}

.speechclarity {
    color: white;
    margin-bottom: 10px;
}

.musicdampening {
    color: white;
    /* margin-bottom: -2px; */
    margin-bottom: 1px;
}

.content .short {
    margin-top: 5px;
    margin-bottom: -5px;
}

.content .regular {
    margin-top: 5px;
    margin-bottom: -5px;
}

.content .long {
    margin-top: 4px;
    margin-bottom: -6px;
}

.content .extralong {
    margin-top: 5px;
    margin-bottom: -5px;
}